<!DOCTYPE html>
{% load static %}
<html lang="ru" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "exam/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h2 class="display-3 text-info">Тестирование онлайн</h2>
    <p class="display-4 d-none d-sm-block">Сдайте тест онлайн или создайте свои тесты!</p>
    <p class="lead">Зарегистируйтесь, чтобы начать!</p>

  
    <p><strong> Начните здесь:</strong></p>
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px; border-radius: 0%;"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Зарегистрируйтесь как студент</a>
     <a href="/teacher/teachersignup" class="btn btn-lg btn-info" style="padding-right: 35px; border-radius: 0%;"><i class="fa fa-pencil" aria-hidden="true"></i> Зарегистрируйтесь как учитель</a>
    
    <br><br><br>
  </div>  
</section>
  {% include "exam/footer.html" %}


</body>

</html>
